
set timeout=0

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Install Ubuntu Server" {
	set gfxpayload=keep
	## linux   /casper/vmlinuz autoinstall "ds=nocloud-net;s=file:///cdrom/" quiet  --- console=ttyS0,115200n8
	linux	/casper/vmlinuz autoinstall "ds=nocloud-net;s=file:///cdrom/" network-config="bmV0d29yazoKICAgIGV0aGVybmV0czoKICAgICAgICBldGgwOgogICAgICAgICAgICBhZGRyZXNz
ZXM6CiAgICAgICAgICAgIC0gMTAuMTEzLjkuMjAxLzI3CiAgICAgICAgICAgIG5hbWVzZXJ2ZXJz
OgogICAgICAgICAgICAgICAgYWRkcmVzc2VzOgogICAgICAgICAgICAgICAgLSAxMC4xMTMuOS4x
OTYKICAgICAgICAgICAgICAgIC0gMTAuMTM0LjguNTcKICAgICAgICAgICAgICAgIHNlYXJjaDoK
ICAgICAgICAgICAgICAgIC0gc2lsdmVyc3RyaW5nLmxvY2FsCiAgICAgICAgICAgIHJvdXRlczoK
ICAgICAgICAgICAgLSAgIHRvOiBkZWZhdWx0CiAgICAgICAgICAgICAgICB2aWE6IDEwLjExMy45
LjE5MwogICAgdmVyc2lvbjogMgo=" ---
	initrd	/casper/initrd
}
